.App {
  margin: 0;
  height: 100vh;
  text-align: center;
}
/* ::-webkit-scrollbar {
  display: none;
} */
.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.navbar {
  text-align: left;
  z-index: 3;
}

.backdrop {
  z-index: 4;
}

.recent_box {
  position: fixed;
  left: 93%;
  bottom: 16%;
  border: 1px solid #dcdcdc;
  background-color: #eee;
  display: flex;
  z-index: 2;
  flex-direction: column;
}

.recent_title {
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
  width: 90px;
}

#recent_title_cart {
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#recent_title_cart_num {
  display: inline-block;
  background-color: #eee;
  color: black;
  border-radius: 30px;
  width: 20px;
  height: 18px;
}

.recent_item_box {
  padding: 5px;
}

.recent_item {
  cursor: pointer;
  width: 80px;
  height: 60px;
}

.recent_item_title {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}

#recent_box_top_btn {
  font-size: 13px;
  cursor: pointer;
  background-color: #888181;
  color: white;
  text-decoration: none;
}

/* .main_carousel {
  width: 80vw;
  margin-left: 10vw;
} */

.bg_img {
  background-position: center;
  background-size: cover;
  height: 500px;
}

#bg1 {
  background-image: url("./../public/img/bg1.png");
}
#bg2 {
  background-image: url("./../public/img/bg2.png");
}
#bg3 {
  background-image: url("./../public/img/bg3.png");
}
#bg4 {
  background-image: url("./../public/img/bg4.png");
}

#main_more_btn {
  padding: 5px 35px;
  margin-bottom: 30px;
}

.detail_body {
  margin-top: 100px;
  margin-bottom: 100px;
}

.detail_alert_area {
  position: fixed;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  flex: 1;
  margin-top: 30px;
}

.detail_tab {
  padding: 20px;
  margin: 4px 0;
}

.alert_icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

.item {
  width: 80%;
}

.itemLine {
  border-radius: 15%;
  margin: 25px 0;
  cursor: pointer;
  /* box-shadow: 5px 7px #eee; */
}

.err_page {
  margin: 0 auto;
  width: 100%;
  height: 90%;
  font-size: 40px;
  margin-bottom: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cart_item_num {
  position: fixed;
  margin-left: -10px;
  padding: 2px 7px;
  border-radius: 30px;
  background-color: red;
  color: white;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}

.total_amount {
  margin-top: 30px;
  margin-bottom: 270px;
}

.item_num_btn {
  margin: 0 10px;
}

.empty_cart {
  margin: 120px auto;
  vertical-align: middle;
}

.table_body {
  min-width: 740px;
  margin: 10px;
  height: 90vh;
}

#item_name {
  font-size: 13px;
  vertical-align: middle;
  text-align: left;
  margin: 0;
}

#item_name,
#cart_item_img {
  cursor: pointer;
}

#cart_item_img {
  margin-right: 10px;
  height: 60px;
  width: 90px;
}

.cart_item_box {
  display: inline-block;
  width: 50%;
}

.cart_item_box:last-child {
  width: 120px;
}

.cart_list_item,
.cart_item_box {
  vertical-align: middle;
}

#order_btn {
  padding: 10px 80px;
  font-weight: bold;
  margin-top: 210px;
}

.footer_wrapper {
  display: flex;
  font-size: 12px;
  height: 150px;
  padding: 10px 5px;
  background-color: #e9e6e6;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer_box p {
  padding: 5px;
  margin: 0;
}

.footer_icon_box {
  margin-top: 20px;
}

.footer_icon_box i:hover {
  color: rgb(98, 150, 98);
  transition: 0.4s;
}

.footer_icon {
  cursor: pointer;
  margin: 5px;
}
